[% Zostay::AUTOGEN_WARNING() %]
[init]
    defaultBranch = master

[user]
	name = Sterling Hanenkamp
	email = [% $email %]

[core]
    excludesfile = ~/.gitignore

[color]
    ui = auto

[push]
	default = current
[rerere]
	enabled = true
[pull]
    rebase = true

[protocol]
  version = 2

[tag]
    sort = version:refname

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
