[% Zostay::AUTOGEN_WARNING() %]
[general]
accounts = Mail
fsync = False
pythonfile=~/.offlineimap.py

[Account Mail]
autorefresh = 1
quick = 10
localrepository = Local
remoterepository = gmail-remote
synclabels = yes
labelsheader = X-Keywords

[Repository Local]
type = GmailMaildir
localfolders = /opt/var/mail
nametrans = lambda foldername: re.sub ('^gmail\.', '[Gmail].',
                                  re.sub ('sent', 'sent_mail',
                                     re.sub ('flagged', 'starred',
                                        re.sub ('_', ' ', foldername)
                                     )
                                  )
                               )
[Repository gmail-remote]
# where the hell is the actual doc for this stuff?
idlefolders = ['INBOX']
keepalive = 60
holdconnectionopen = yes
maxconnections = 1
type = Gmail
remoteuser = [% $email %]
foldersort = mycmp

nametrans = lambda foldername: re.sub ('^\[Gmail\]', 'gmail',
                                  re.sub ('sent_mail', 'sent',
                                     re.sub ('starred', 'flagged',
                                        re.sub (' ', '_', foldername)
                                     )
                                  )
                               )

# XOAUTH2 handling
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
ssl = yes
starttls = no

[% if ($auth_type eq 'oauth2') { 
       $OUT .= <<"END_OF_OAUTH2_CONFIG";
auth_mechanisms = XOAUTH2
oauth2_client_id = $oauth2_client_id
oauth2_client_secret = $oauth2_client_secret
oauth2_refresh_token = $oauth2_refresh_token
oauth2_request_url = https://accounts.google.com/o/oauth2/token
END_OF_OAUTH2_CONFIG
   }
   elsif ($auth_type eq 'netrc') {
       $OUT .= <<"END_OF_PASSWORD_CONFIG";
auth_mechanisms = GSSAPI, CRAM-MD5, PLAIN, LOGIN
END_OF_PASSWORD_CONFIG
   }
   %]

# turns out you can use 100% of gmails features through IMAP. SWEET!
# http://support.google.com/mail/bin/answer.py?hl=en&topic=12815&answer=77657
realdelete = no
# vim: ft=dosini
