[% Zostay::AUTOGEN_WARNING() %]
set -g prefix C-j
unbind C-b

set -g default-shell $SHELL 
[% qq[set -g default-command "reattach-to-user-namespace -l \${SHELL}"] if $^O eq 'darwin' %]

set -g set-titles on

set -g default-terminal "xterm-256color"
set-option -ga terminal-overrides ",xterm-256color:Tc"

set -g status-right "#(uptime|awk '{print $11}') #(date)"
set -g status-left "#{session_name} "
set -g status-left-length 20

set -s escape-time 0

set-option -g status-bg colour33

set-option -g pane-border-style fg=colour237
set-option -g pane-active-border-style fg=colour123

set-window-option -g window-status-style bg=colour33
set-window-option -g window-status-current-style fg=white,bold

set-window-option -g mode-keys vi

bind C-c new-window
bind C-v split-window -h
bind v split-window -h
bind C-s split-window -v
bind s split-window -v

bind j select-pane -D
bind k select-pane -U
bind h select-pane -L
bind l select-pane -R

bind J resize-pane -D
bind K resize-pane -U
bind H resize-pane -L
bind L resize-pane -R

bind C-J resize-pane -D 5
bind C-K resize-pane -U 5
bind C-H resize-pane -L 5
bind C-L resize-pane -R 5

bind C-f last-window
